@charset "UTF-8";
.feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20vh;
}

/* Текущее видео (current) */
.current-video {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 0 calc(max(1vw, 10px));
}

.current-video__content {
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 46vw;
  max-width: 60vw;
  height: 56vh;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 25px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 25px 12px rgba(0, 0, 0, 0.25);
}

.current-video__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.current-video__description p {
  width: 40vw;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  text-align: center;
  font-family: 'Roboto';
}

.current-video__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.current-video__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Oxanium';
}

.current-video__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1vh;
}

.author__info {
  margin-bottom: 1vh;
}

.author__avatar {
  display: block;
}

.author__nickname {
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
}

.icon {
  margin-right: 6px;
  margin-bottom: 2px;
}

.author__subscribers, .author__videos, .video-info__views,
.video-info__likes, .video-info__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.current-video__lcssd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lcssd__icon {
  font-size: 25px;
}

.button {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding-top: 6px;
  margin-bottom: 7.5%;
  cursor: pointer;
}

.button:hover {
  background-color: #b387eb;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-box-shadow: 0 0 5px #606060;
  box-shadow: 0 0 5px #606060;
}

.button:not(:hover) {
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.button:active {
  background-color: #8C43EA;
}

.current-video__lcssd_hidden {
  display: none;
}

.blur {
  position: absolute;
  z-index: 999;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  height: 100%;
  width: 100%;
}

/* Просмотренное видео (previous) */
.previous-video {
  overflow: hidden;
  position: relative;
  min-width: 12vw;
  max-width: 26vw;
  height: 46vh;
  border-radius: 12px;
}

.previous-video__content {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Следующее видео (next) */
.next-video {
  overflow: hidden;
  position: relative;
  min-width: 12vw;
  max-width: 26vw;
  height: 46vh;
  border-radius: 12px;
}

.next-video__content {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=feed.css.map */