body {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: no-repeat bottom/cover url("../../img/sign_background_image.jpg") fixed;
}

.blur {
  position: absolute;
  z-index: -999;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.001);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.header {
  position: fixed;
  width: 100vw;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 32px;
  padding-top: 22px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.domen {
  position: absolute;
  text-decoration: none;
  margin-right: calc(max(3vw, 10px));
}

.domen__item {
  font-family: 'Akaya Telivigala';
  font-weight: 400;
  line-height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #8C43EA), to(#B06AB3));
  background: linear-gradient(to right, #8C43EA 30%, #B06AB3);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: gradient_animation 7s linear infinite;
          animation: gradient_animation 7s linear infinite;
}

@-webkit-keyframes gradient_animation {
  to {
    background-position: 200% center;
  }
}

@keyframes gradient_animation {
  to {
    background-position: 200% center;
  }
}

.domen-2lvl {
  font-size: 48px;
}

.domen-1lvl {
  font-size: 28px;
}

.sign-buttons {
  width: 240px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-sign {
  text-decoration: none;
  font-family: 'Oxanium';
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.selected-tab {
  padding: 6px 16px;
  background: rgba(140, 67, 234, 0.4);
  border-radius: 14px;
}

.main {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-up__description {
  font-family: 'Oxanium';
  color: #fff;
  font-size: 20px;
}

.sign-up__description .sign-up__description_header {
  font-size: 35px;
  margin-bottom: 3px;
}

.sign-up__description ul {
  margin: 0;
  list-style-type: square;
}

.sign-up__description li {
  margin-bottom: 1px;
}

.sign-up__form {
  width: 36vw;
  font-family: 'Oxanium';
  background: linear-gradient(104.41deg, #8C43EA -6.55%, rgba(140, 67, 234, 0.17) 109.24%);
  border-radius: 30px;
  padding: 24px;
}

.sign-up__form-header {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 16px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__row:nth-child(-n + 2) {
  margin-bottom: 7px;
}

.form__input-label {
  display: block;
  font-weight: bold;
  margin-left: 5px;
}

.form__input {
  width: 50%;
  max-width: 250px;
  min-width: 175px;
  border: none;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 3px 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.form__input:focus {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  outline: none;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(51, 51, 51, 0.5);
          box-shadow: 0px 0px 5px 2px rgba(51, 51, 51, 0.5);
}

.form__submit {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  background: rgba(140, 67, 234, 0.8);
  border-radius: 15px;
  padding: 6px 24px;
  margin-top: 14px;
  border: none;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.form__submit:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(51, 51, 51, 0.5);
          box-shadow: 0px 0px 5px 2px rgba(51, 51, 51, 0.5);
}

.form__submit:active {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=sign.css.map */