@charset "UTF-8";
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 5px;
  height: 60px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-left: 20px;
  background: rgba(191, 191, 191, 0.5);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 0px 0px 20px 20px;
}

/* domen */
.domen {
  text-decoration: none;
  margin-right: calc(max(3vw, 10px));
}

.domen__item {
  font-family: 'Akaya Telivigala';
  font-weight: 400;
  line-height: 48px;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #8C43EA), to(#B06AB3));
  background: linear-gradient(to right, #8C43EA 30%, #B06AB3);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: gradient_animation 7s linear infinite;
          animation: gradient_animation 7s linear infinite;
}

@-webkit-keyframes gradient_animation {
  to {
    background-position: 200% center;
  }
}

@keyframes gradient_animation {
  to {
    background-position: 200% center;
  }
}

.domen-2lvl {
  font-size: 48px;
}

.domen-1lvl {
  font-size: 28px;
}

/* search field */
.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 370px;
  height: 32px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(140, 67, 234, 0.23);
  border-radius: 1.76em;
  padding-left: 5px;
  margin-right: 10px;
}

.search .search__icon {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.search .search__field {
  height: 30px;
  font-size: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
  border: none;
  background: transparent;
}

.search .search__field:focus {
  outline: none;
  color: #191919;
}

/* sign in and sign up buttons */
.button-sign__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -ms-flex-item-align: center;
  align-self: center;
}

.button-sign {
  min-width: 150px;
  height: 34px;
  border: none;
  border-radius: 18px;
  font-family: 'Oxanium';
  font-size: 23px;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
  color: #fff;
  background: #505050;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.button-sign:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #606060;
  box-shadow: 0 0 5px #606060;
  background-color: #606060;
}

.button-sign:active {
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 5px #000;
  box-shadow: inset 0 0 5px #000;
  background-color: #404040;
}

.feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20vh;
}

/* Текущее видео (current) */
.current-video {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 0 calc(max(1vw, 10px));
}

.current-video__content {
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 46vw;
  max-width: 60vw;
  height: 56vh;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 25px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 25px 12px rgba(0, 0, 0, 0.25);
}

.current-video__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.current-video__description p {
  width: 40vw;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  text-align: center;
  font-family: 'Roboto';
}

.current-video__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.current-video__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Oxanium';
}

.current-video__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1vh;
}

.author__info {
  margin-bottom: 1vh;
}

.author__avatar {
  display: block;
}

.author__nickname {
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
}

.icon {
  margin-right: 6px;
  margin-bottom: 2px;
}

.author__subscribers, .author__videos, .video-info__views,
.video-info__likes, .video-info__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.current-video__lcssd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lcssd__icon {
  font-size: 25px;
}

.button {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding-top: 6px;
  margin-bottom: 7.5%;
  cursor: pointer;
}

.button:hover {
  background-color: #b387eb;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-box-shadow: 0 0 5px #606060;
  box-shadow: 0 0 5px #606060;
}

.button:not(:hover) {
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.button:active {
  background-color: #8C43EA;
}

.current-video__lcssd_hidden {
  display: none;
}

.blur {
  position: absolute;
  z-index: 999;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  height: 100%;
  width: 100%;
}

/* Просмотренное видео (previous) */
.previous-video {
  overflow: hidden;
  position: relative;
  min-width: 12vw;
  max-width: 26vw;
  height: 46vh;
  border-radius: 12px;
}

.previous-video__content {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Следующее видео (next) */
.next-video {
  overflow: hidden;
  position: relative;
  min-width: 12vw;
  max-width: 26vw;
  height: 46vh;
  border-radius: 12px;
}

.next-video__content {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #8C43EA;
  border-radius: 20px;
}
/*# sourceMappingURL=style.css.map */