$purple: #8C43EA;
$light-purple: #b387eb;
$grey: #ccc;


@function getIcon($name) {
  @return "../../img/" + $name;
}


.feed {
  display: flex;
  justify-content: space-between;

  padding-top: 20vh;
}

.current-video {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0 calc(max(1vw, 10px));
}

.current-video__content {
  object-fit: cover;
  min-width: 46vw;
  max-width: 60vw;
  height: 56vh;
  border-radius: 15px;
}

.current-video__description {
  display: flex;
  justify-content: space-around;

  p {
    width: 40vw;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    text-align: center;
    font-family: 'Roboto';
  }
}

.current-video__options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.current-video__info {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // height: 48%;
  
  font-family: 'Oxanium';
}

.current-video__author {
  display: flex;
  flex-direction: column;
  margin-bottom: 7.5%;
}
.author__info {
  margin-bottom: 7.5%;
}
.author__avatar {
  display: block;
}
.author__nickname {
  font-size: 18px;
  line-height: 25px;
}

.icon {
  margin-right: 6px;
  margin-bottom: 2px;
}

.author__subscribers, .author__videos, .video-info__views, 
.video-info__likes, .video-info__comments {
  display: flex;
  align-items: center;
}


.current-video__lcssd {
  display: flex;
  flex-direction: column;
}

.lcssd__icon {
  font-size: 30px;
}

.button {
  border: none;
  border-radius: 50%;
  
  width: 40px;
  height: 40px;
  padding-top: 6px;
  margin-bottom: 7.5%;
  
  cursor: pointer;
  
  &:hover {
    background-color: $light-purple;
    transition: .2s;

    -webkit-box-shadow: 0 0 5px #606060;
            box-shadow: 0 0 5px #606060;
  } 
  &:not(:hover) {
    background-color: $grey;
    transition: .2s;
  }
  &:active {
    background-color: $purple;
  }
}

.current-video__lcssd_hidden {
  // display: flex;
  display: none;  // Появляться будут при нажатии на три точки
}