$fade-grey: #ededed;
$grey: #ccc;
$muted-grey: #999;
$heart: #ff4f8f;
$purple-heart: #8C43EA;
$light-purple-heart: #b387eb;
$white: #fff;


.like-button {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $grey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
  margin-bottom: 7.5%;

  .like-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $purple-heart;
    transform: scale(0);
    transition: all .4s;
    z-index: 0;
  }

  i {
    &.not-liked {
      display: block;
      color: $white;
      position: relative;
      z-index: 1;
    }
    &.is-liked {
      display: none;
      color: $white;
      position: relative;
      z-index: 1;
    }
  }

  &.is-active {
    .like-overlay {
      transform: scale(1);
    }
    i {
      &.not-liked {
        display: none;
      }
      &.is-liked {
        display: block;
      }
    }
  }

  &:hover {
    background-color: $light-purple-heart;
    transition: .4s;

    -webkit-box-shadow: 0 0 5px #606060;
            box-shadow: 0 0 5px #606060;
  } &:not(:hover) {
    background-color: $grey;
    transition: .4s;
  }
}

//Watch me get bouncy
@-webkit-keyframes bouncy {
    from, to { -webkit-transform: scale(1, 1); }
    25% { -webkit-transform: scale(0.9, 1.1); }
    50% { -webkit-transform: scale(1.1, 0.9); }
    75% { -webkit-transform: scale(0.95, 1.05); }
}
@keyframes bouncy {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05);}
}

//Settings
.bouncy {
    -webkit-animation: bouncy 0.6s;
    animation: bouncy 0.6s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
