@charset "UTF-8";
.header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  padding: 0 5px;
  height: 60px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 20px;
  padding-right: 7px;
  background: rgba(191, 191, 191, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 0px 0px 20px 20px;
}

/* domen */
.domen {
  text-decoration: none;
  margin-right: calc(max(3vw, 10px));
}

.domen__item {
  font-family: 'Akaya Telivigala';
  font-weight: 400;
  line-height: 48px;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #8C43EA), to(#B06AB3));
  background: linear-gradient(to right, #8C43EA 30%, #B06AB3);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: gradient_animation 7s linear infinite;
          animation: gradient_animation 7s linear infinite;
}

@-webkit-keyframes gradient_animation {
  to {
    background-position: 200% center;
  }
}

@keyframes gradient_animation {
  to {
    background-position: 200% center;
  }
}

.domen-2lvl {
  font-size: 48px;
}

.domen-1lvl {
  font-size: 28px;
}

/* search field */
.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 370px;
  height: 32px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(140, 67, 234, 0.23);
  border-radius: 1.76em;
  padding-left: 5px;
  margin-right: 10px;
}

.search .search__icon {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.search .search__field {
  height: 30px;
  font-size: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
  border: none;
  background: transparent;
}

.search .search__field:focus {
  outline: none;
  color: #191919;
}

/* sign in and sign up buttons */
.button-sign__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -ms-flex-item-align: center;
  align-self: center;
}

.button-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 150px;
  height: 34px;
  border: none;
  border-radius: 18px;
  font-family: 'Oxanium';
  font-size: 23px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  background: #505050;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.button-sign:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #606060;
  box-shadow: 0 0 5px #606060;
  background-color: #606060;
}

.button-sign:active {
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 5px #000;
  box-shadow: inset 0 0 5px #000;
  background-color: #404040;
}

.user-block {
  margin-left: auto;
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-block .feed-switcher {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.user-block .feed-switcher a {
  text-decoration: none;
  font-family: 'Oxanium';
  font-size: 20px;
  color: #000;
}

.user-block .feed-switcher a.current-feed {
  color: #8C43EA;
  font-size: 23px;
  font-weight: 600;
  text-decoration: underline;
}

.user-block .notifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 21%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-block .notifications > div {
  position: relative;
}

.user-block .notifications > div .material-icons-outlined {
  cursor: pointer;
  font-size: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.user-block .notifications .notifications__counter {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20px;
  height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -7px;
  right: -5px;
  z-index: 2;
  background-color: #8C43EA;
  border-radius: 50%;
  color: #fff;
  font-family: 'Oxanium';
  font-weight: normal;
  font-size: 12px;
}

.user-block .user__avatar {
  width: 50px;
  height: 50px;
}

.feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Текущее видео (current) */
.current-video {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 0 calc(max(1vw, 10px));
}

.video-player {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  min-width: 46vw;
  max-width: 60vw;
  max-height: 70vh;
  -webkit-box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.25);
}

.video__content {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

/* video controls */
.video-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
  bottom: 0;
  -webkit-transform: translateY(100%) translateY(-3.7px);
          transform: translateY(100%) translateY(-3.7px);
  -webkit-transition: .3s;
  transition: .3s;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.6);
}

.video-controls__progress-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 3.5px;
  -webkit-transition: .3s;
  transition: .3s;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.video-controls__progress-bar .video-controls__progress-bar-filled {
  width: 0;
  height: 100%;
  background: #8C43EA;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  -webkit-transition: 350ms linear;
  transition: 350ms linear;
}

.video-controls__play-button {
  width: 10%;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.video-controls__play-button span {
  color: white;
}

.video-controls__play-button:focus {
  outline: none;
}

.volume-icon {
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.video-controls__volume-range {
  -webkit-appearance: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  margin: 0;
  width: 75px;
  padding: 0 10px;
}

.video-controls__volume-range:focus {
  outline: none;
}

.video-controls__volume-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #8C43EA;
  border-radius: 2rem;
}

.video-controls__volume-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 5px;
  width: 5px;
  outline: 2.5px solid #fff;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
}

.video-controls__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 15%;
  color: white;
  font-size: 1em;
  font-family: 'Oxanium';
}

.video-controls__time .time__current-time {
  margin-right: 3px;
}

.video-controls__time .time__duration {
  margin-left: 3px;
}

.video-player:hover .video-controls {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.video-player:hover .video-controls__progress-bar {
  height: 5.25px;
}

.current-video__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.current-video__description p {
  width: 40vw;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  text-align: center;
  font-family: 'Roboto';
}

.current-video__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.current-video__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Oxanium';
}

.current-video__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1vh;
}

.author__info {
  margin-bottom: 1vh;
}

.author__link {
  text-decoration: none;
  color: inherit;
}

.author__avatar {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.author__nickname {
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
}

.icon {
  margin-right: 6px;
  margin-bottom: 2px;
}

span[class^="material-icons"] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.author__subscribers, .author__videos, .video-info__views,
.video-info__likes, .video-info__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.current-video__lcssd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lcssd__icon {
  font-size: 25px;
}

.button {
  border: none;
  border-radius: 50%;
  margin-bottom: 7.5%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.button:hover {
  background-color: #b387eb;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-box-shadow: 0 0 5px #606060;
  box-shadow: 0 0 5px #606060;
}

.button:not(:hover) {
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.button:active {
  background-color: #8C43EA;
}

.lcssd__like {
  position: relative;
  background: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border: none;
  border-radius: 50%;
  margin-bottom: 7.5%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.lcssd__like .like-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #8C43EA;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .4s;
  transition: all .4s;
  z-index: 0;
}

.lcssd__like span.not-liked {
  display: block;
  color: #fff;
  position: relative;
  z-index: 1;
}

.lcssd__like span.is-liked {
  display: none;
  color: #fff;
  position: relative;
  z-index: 1;
}

.lcssd__like.is-active .like-overlay {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.lcssd__like.is-active span.not-liked {
  display: none;
}

.lcssd__like.is-active span.is-liked {
  display: block;
}

.lcssd__like:hover {
  background-color: #b387eb;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-box-shadow: 0 0 5px #606060;
  box-shadow: 0 0 5px #606060;
}

.lcssd__like:not(:hover) {
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

@-webkit-keyframes bouncy {
  from, to {
    -webkit-transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
  }
}

@keyframes bouncy {
  from, to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
            transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
            transform: scale(0.95, 1.05);
  }
}

.bouncy {
  -webkit-animation: bouncy 0.6s;
  animation: bouncy 0.6s;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.current-video__lcssd_hidden {
  display: none;
}

.blur {
  position: absolute;
  z-index: 999;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

/* Просмотренное видео (previous) */
.previous-video {
  overflow: hidden;
  position: relative;
  min-width: 12vw;
  max-width: 26vw;
  height: 46vh;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 10px 1.5px #606060;
          box-shadow: 0 0 10px 1.5px #606060;
}

.previous-video__content {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Следующее видео (next) */
.next-video {
  overflow: hidden;
  position: relative;
  min-width: 12vw;
  max-width: 26vw;
  height: 46vh;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 10px 1.5px #606060;
          box-shadow: 0 0 10px 1.5px #606060;
}

.next-video__content {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Переключатели видео (switch) */
.switch {
  border: none;
  background: transparent;
  border-radius: none;
  cursor: pointer;
}

.switch span {
  font-size: 27px;
  -webkit-transition: .2s;
  transition: .2s;
  color: #191919;
}

.switch span:hover {
  font-weight: 500;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #b387eb;
}

.switch span:active {
  font-weight: 700;
  color: #8C43EA;
}

.switch:focus, .switch:active {
  outline: none !important;
}

.switch::-moz-focus-inner {
  border: 0 !important;
}

.footer {
  width: 100vw;
  margin-top: auto;
}

.footer__container {
  background-color: rgba(191, 191, 191, 0.5);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 35px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 7px;
}

.footer__devby-name {
  font-family: "Oxanium";
  font-weight: bold;
  margin-right: 8px;
}

.footer__contacts a {
  text-decoration: none;
}

.contacts__item {
  margin-right: 2px;
}

.logo-icon {
  width: 20px;
  height: 20px;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #8C43EA;
  border-radius: 20px;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */