body {
  font-family: 'Oxanium';
}

.header {
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 999;
  padding: 0 5px;
  top: 0;
}

.header__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(191, 191, 191, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 0px 0px 20px 20px;
  padding: 0 12px;
}

.domen {
  position: absolute;
  text-decoration: none;
}

.domen .domen__item {
  font-family: 'Akaya Telivigala';
  font-weight: 400;
  line-height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #8C43EA), to(#B06AB3));
  background: linear-gradient(to right, #8C43EA 30%, #B06AB3);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: gradient_animation 7s linear infinite;
          animation: gradient_animation 7s linear infinite;
}

@-webkit-keyframes gradient_animation {
  to {
    background-position: 200% center;
  }
}

@keyframes gradient_animation {
  to {
    background-position: 200% center;
  }
}

.domen .domen-2lvl {
  font-size: 48px;
}

.domen .domen-1lvl {
  font-size: 28px;
}

.username-title {
  position: relative;
  margin: auto;
  font-size: 42px;
}

.icon {
  font-size: 40px;
}

.main {
  width: 100%;
  height: 100%;
  padding: 30px;
  padding-top: 90px;
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-info__row-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-info__row-block .add-video {
  margin-left: auto;
}

.user__avatar {
  margin-bottom: 10px;
}

.user__avatar .avatar {
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.user__username {
  font-size: 30px;
}

.user-info__column-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-info__stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-info__stat .stat__item {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-info__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.user-info__social .social__img {
  width: 50px;
  height: 50px;
}

.to-user-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.user__description {
  white-space: pre;
  font-size: 20px;
}

.add-video {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.button {
  border: none;
  background: rgba(140, 67, 234, 0.7);
  border-radius: 50px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

.button:hover {
  background-color: #b387eb;
  -webkit-box-shadow: 0 0 5px #606060;
  box-shadow: 0 0 5px #606060;
}

.button:not(:hover) {
  background-color: rgba(140, 67, 234, 0.7);
}

.button:active {
  -webkit-box-shadow: inset 0 0 5px #000;
          box-shadow: inset 0 0 5px #000;
  background-color: #7d3cd2;
}

.hr {
  height: 3px;
  border-radius: 3px;
  background-color: #000;
}
/*# sourceMappingURL=user.css.map */