$description-text-color: #fff;
$tab-width: 135px;
$tab-space: 10px;


body {
	position: relative;

	height: 100vh;
	width: 100vw;
  background: no-repeat 
							bottom / cover
							url("../../img/sign_background_image.jpg") 
							fixed;
}

.blur {
	position: absolute;
	z-index: -999;

	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .001);
  backdrop-filter: blur(4px);
}

.header {
	position: fixed;
	width: 100vw;
  z-index: 10;
}

.header__container {
	display: flex;
	padding-left: 32px;
	padding-top: 22px;
	
	width: 100%;
	align-items: center;
}

.domen {
  position: absolute;
  text-decoration: none;
  margin-right: calc(max(3vw, 10px));

  .domen__item {
    font-family: 'Akaya Telivigala';
    font-weight: 400;
    line-height: 100%;
  
    // color: #8C43EA;
    background: linear-gradient(to right, #8C43EA 30%, #B06AB3);
    background-size: 200% auto;
  
    color: #000;
    background-clip: text;
    // text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    animation: gradient_animation 7s linear infinite;
  
    @keyframes gradient_animation {
      to { background-position: 200% center; }
    }
  }

  .domen-2lvl {
    font-size: 48px;
  }
  
  .domen-1lvl {
    font-size: 28px;
  }
}



.sign-buttons {
  position: relative;

  width: $tab-width * 2 + $tab-space;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-sign {
  width: $tab-width;
  padding: 6px 16px;
  text-decoration: none;

  font-family: 'Oxanium';
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  background: transparent;

  transition: color 0.1s linear;
  transition-delay: 0.1s;
  z-index: 1;

  &:hover {
    color: #fff;
  }
}


.main {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.sign-up, .sign-in {
  display: flex;
  position: absolute;

  width: 100%;
  height: 100%;

  flex-direction: row;
  justify-content: space-around;
  align-items: center; 

  transition: transform 1s cubic-bezier(0.17, 0.8, 0.33, 0.99);
}

.sign-up {
  transform: translateX(-100%);
} .sign-in {
  transform: translateX(100%);
}

.sign-up-in__description {
  width: 40%;
  font-family: 'Oxanium';
  color: $description-text-color;
  font-size: 20px;

  .sign-up-in__description_header {
    font-size: 35px;
    margin-bottom: 3px;
  }
  ul { 
    margin: 0; 
    list-style-type: square;
  }
  li {
    margin-bottom: 1px;
  }
}


.sign-up-in__form {
  width: 36vw;
  font-family: 'Oxanium';
  background: linear-gradient(104.41deg, 
    #8C43EA -6.55%, 
    rgba(140, 67, 234, 0.17) 109.24%
  );
  border-radius: 30px;
  padding: 24px;
}

.sign-up-in__form-header {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);

  margin-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__row {
  margin-bottom: 5px;
}

.form__input-label {
  display: block;
  font-weight: bold;
  margin-left: 5px;
}

.form__input {
  width: 50%;
  max-width: 250px;
  min-width: 175px;
  border: none;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 3px 10px;
  
  transition: .3s;
  &:focus {
    transform: scale(1.03);
    outline: none;
    box-shadow: 0px 0px 5px 2px rgba(51, 51, 51, .5);
  }
}

.form-check-input {
  transition: .4s;
  border: 1px solid rgba(0, 0, 0, 0.5);

  &:checked {
    background: #8C43EA;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  &:focus {
    box-shadow: none;
  }
}

.form__submit {
  align-self: end;

  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  
  background: rgba(140, 67, 234, 0.8);
  border-radius: 15px;
  padding: 6px 24px;
  margin-top: 14px;

  border: none;
  cursor: pointer;
  transition: .2s;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 5px 2px rgba(51, 51, 51, .5);
  }
  &:active {
    transform: scale(1);
    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, .5);
  }

}


.current-page {
  transform: translateX(0%);
}



.selected-tab-indicator {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;

  padding: 6px 16px;
  border-radius: 14px;
  width: $tab-width;
  
  transition: transform 0.5s cubic-bezier(0.17, 0.8, 0.33, 0.99);
  background: rgba(140, 67, 234, 0.4) !important;
}
